/* --------------------- */
/* Custom Properties     */
/* --------------------- */

:root {
    --clr-darkblue: 52, 131, 162;
    --clr-lightblue: 215, 231, 239;
    --clr-darkblack: 27, 32, 38;
    --clr-lightblack: 36, 36, 36;
    --clr-accent: 264, 100%, 25%;
    --clr-black: 260, 6%, 10%;
    --clr-white: 0, 0%, 100%;

    --ff-serif: 'Arvo', serif;
    --ff-sans: 'Lato', sans-serif;

    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
}


/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
div {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Body Set-up */
body {
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    color: hsl( var(--clr-black) );
    background-color: var(--clr-white);
    line-height: 1.5;
    min-height: 100vh;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* --------------------- */
/* Utility classes       */
/* --------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /*added line */
    border: 0;
}

/* Colors */

.bg-darkblue { background-color: hsl( var(--clr-darkblue) );}
.bg-white { background-color: hsl( var(--clr-white) );}
.bg-lightblue { background-color: hsl( var(--clr-lightblue) );}

.text-dark { color: hsl( var(--clr-black) );}
.text-white { color: hsl( var(--clr-white) );}
.text-accent { color: hsl( var(--clr-accent) );}

/* Typography */

.ff-serif { font-family: var(--ff-serif);}
.ff-sans { font-family: var(--ff-sans);}

.fs-900 { font-size: var(--fs-900);}
.fs-800 { font-size: var(--fs-800);}
.fs-700 { font-size: var(--fs-700);}
.fs-600 { font-size: var(--fs-600);}
.fs-500 { font-size: var(--fs-500);}
.fs-400 { font-size: var(--fs-400);}
.fs-300 { font-size: var(--fs-300);}
.fs-200 { font-size: var(--fs-200);}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.letter-spacing-1 { letter-spacing: 4.75px;}
.letter-spacing-2 { letter-spacing: 2.7px;}
.letter-spacing-3 { letter-spacing: 2.35px;}

.uppercase { text-transform: uppercase;}


/* --------------------- */
/* Components            */
/* --------------------- */

.giyu-btn {
    display: grid;
    text-decoration: none;
    border-radius: var(--bdr-rad, 5px);
    padding: 1em 2em;
}





.banner {
    width: 100%;
    height: 80vh;
    /* background-image: linear-gradient(90deg, hsl( var(--clr-darkblue) / .99 ) 0%, hsl( var(--clr-darkblue) / .99 ) 50%, hsl( var(--clr-darkblue) / .9 ) 100%), url("assets/netcube.jpg"); */
    background-image: linear-gradient(90deg, rgba( var(--clr-darkblack),1 ) 0%, rgba( var(--clr-darkblack),1 ) 50%, rgba( var(--clr-darkblack),1 ) 100%), url("assets/black-greeen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: rgb( var(--clr-darkblue) );
    position: relative;
}

.cube-img {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 30%;
    aspect-ratio: 1;
    background-image: url("assets/cube-graphic.png");
    background-size: contain;
    border-radius: 10px;
}