@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@font-face {
    font-family: "Barabara";
    src: url("../fonts/BARABARARegular.ttf");
    src: url("../fonts/BARABARARegular.ttf") format("truetype");
}

/* --------------------------- */
/* -----Custom Properties----- */
/* --------------------------- */

:root {
    --clr-black: 30, 27, 27;
    --clr-white: 248, 248, 255;
    --clr-purple: 92, 48, 111;
    --clr-violet: 62, 42, 131;
    --clr-blue: 38, 97, 196;
    --clr-blue-green: 42, 121, 142;
    --clr-green: 42, 191, 79;
    --clr-grey: 170, 170, 171;

    --ff-barabara: 'Barabara';
    --ff-manrope: 'Manrope', sans-serif;
    --ff-inter: 'Inter', sans-serif;

    --fs-900: 4.25rem;
    --fs-800: 3.625rem;
    --fs-700: 3rem;
    --fs-600: 2.5rem;
    --fs-500: 2rem;
    --fs-400: 1.5rem;
    --fs-300: 1.25rem;
    --fs-200: 1.125rem;
    --fs-100: 1rem;
    --fs-90: 0.9rem;
    --fs-80: 0.8rem;
}


/* --------------------------- */
/* ----------Resets----------- */
/* --------------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
nav,
footer,
img,
div {
    margin: 0;
    padding: 0;
}

/* Body Set-up */

html {
    font-size: 14px;
}

body {
    font-family: var(--ff-manrope);
    font-size: var(--fs-400);
    font-weight: 500;
    color: rgb( var(--clr-black) );
    background-color: rgb( var(--clr-white) );
    line-height: 1.5;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* --------------------------- */
/* ------Utility Classes------ */
/* --------------------------- */

.flow-top > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow-left > *:where(:not(:first-child)) {
    margin-left: var(--flow-space, 1rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /*added line */
    border: 0;
}

/* Colors */

.bg-black { background-color: rgb( var(--clr-black) );}
.bg-purple { background-color: rgb( var(--clr-purple) );}
.bg-blue { background-color: rgb( var(--clr-blue) );}
.bg-green { background-color: rgb( var(--clr-green) );}
.bg-grey { background-color: rgb( var(--clr-grey) );}
.bg-transparent { background-color: transparent;}

.bg-grad-green-blue {
    background: linear-gradient(107.44deg, rgb( var(--clr-green) ) 3.27%, rgb( var(--clr-blue) ) 114.5%);
}

.bg-grad-blue-green {
    background: linear-gradient(285.35deg, rgb( var(--clr-blue) ) -36.31%, rgb( var(--clr-green) ) 109.29%);
}

.bg-grad-blue-mid-green {
    background: linear-gradient(285.35deg, rgb( var(--clr-blue) ) -36.31%, rgb( var(--clr-blue-green) ) 42.5%, rgb( var(--clr-green) ) 109.29%);
}

.text-black, .text-black * { color: rgb( var(--clr-black) );}
.text-purple { color: rgb( var(--clr-purple) );}
.text-blue { color: rgb( var(--clr-blue) );}
.text-green { color:rgb( var(--clr-green) );}
.text-grey { color: rgb( var(--clr-grey) );}

/* Typography */

.fs-heading-h1 {
    font-size: var(--fs-900);
    line-height: 5.25rem;
    font-weight: 800;
    letter-spacing: -0.03em;
}
.fs-heading-h2 {
    font-size: var(--fs-800);
    line-height: 4.75rem;
    font-weight: 800;
    letter-spacing: -0.03em;
}
.fs-heading-h3 {
    font-size: var(--fs-700);
    line-height: 4.25rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.fs-heading-h4 {
    font-size: var(--fs-600);
    line-height: 3.5rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.fs-heading-5, .fs-title-1 {
    font-size: var(--fs-500);
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.fs-heading-6 {
    font-size: var(--fs-300);
    line-height: 1.875rem;
    font-weight: 600;
    /* letter-spacing: -0.03em; */
}
.fs-title-2 {
    font-size: var(--fs-400);
    line-height: 2.25rem;
    font-weight: 600;
    letter-spacing: -0.03em;
}
.fs-body-1 {
    font-size: var(--fs-200);
    line-height: 2rem;
    font-weight: 600;
}
.fs-body-2 {
    font-size: var(--fs-100);
    line-height: 1.75rem;
    font-weight: 600;
}
.fs-caption {
    font-size: var(--fs-100);
    line-height: 1.5rem;
    font-weight: 500;
}

.fw-300 { font-weight: 300;}
.fw-400 { font-weight: 400;}
.fw-500 { font-weight: 500;}
.fw-600 { font-weight: 600;}
.fw-700 { font-weight: 700;}
.fw-800 { font-weight: 800;}
.fw-900 { font-weight: 900;}


.fs-900 {font-size: var(--fs-900);}
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}
.fs-100 {font-size: var(--fs-100);}
.fs-90 {font-size: var(--fs-90);}
.fs-80 {font-size: var(--fs-80);}

.ff-inter { font-family: var(--ff-inter);}
.ff-barabara { font-family: var(--ff-barabara);}
.ff-manrope { font-family: var(--ff-manrope);}

.opacity-5 { opacity: 0.5;}
.opacity-6 { opacity: 0.6;}
.opacity-7 { opacity: 0.7;}

.letter-spacing-1 { letter-spacing: 0.5px;}
.letter-spacing-2 { letter-spacing: 0.75px;}
.letter-spacing-3 { letter-spacing: 1px;}

.blend-overlay {
  mix-blend-mode: overlay;
}

.glass-effect {
    border: 1px solid linear-gradient(rgba(255,255,255,1), rgba(150, 150, 150, 1));
    background: linear-gradient(94.13deg, rgba(255, 251, 251, 0.39) 3.84%, rgba(253, 249, 249, 0.06) 108.43%);
    /* background-attachment: fixed; */
    box-shadow: inset 0px 4px 24px -1px rgba(0,0,0,0.05);
    backdrop-filter: blur(51px);
}

/* --------------------------- */
/* ---------Components-------- */
/* --------------------------- */

#back-to-top {
    display: inline-block;
    background-color: #222428;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
  
#back-to-top i {
    font-weight: 700;
    font-size: 2em;
    line-height: 50px;
    color: #f2f2f2;
}
  
#back-to-top:hover {
    cursor: pointer;
    background-color: #330080;
}
  
#back-to-top:active {
    background-color: #330080;
}
  
#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.gb-transparent {
    position: relative;
    padding: 0.4rem 1.5rem;
    background: linear-gradient(94.13deg, rgba(255,251,251,0.39) 3.84%, rgba(253,249,249,0.06) 108.43%);
    background-attachment: fixed;
    z-index: 1;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
}

.gb-transparent:hover {
    background: linear-gradient(94.13deg, rgba(255,251,251,0.39) 3.84%, rgba( var(--clr-green), 0.05) 108.43%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.gb-green {
    padding: 0.4rem 1.5rem;
    background: white;
    color: rgb( var(--clr-green) );
    border: 2px solid rgb( var(--clr-green) );
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
}

.gb-green:hover {
    background: rgb( var(--clr-green) );
    color: white;
}

/* --------------------------- */
/* ------Banner Section------- */
/* --------------------------- */

.hero-section {
    background-color: linear-gradient(107.44deg, rgb( var(--clr-green) ) 3.27%, rgb( var(--clr-blue) ) 114.5%);
    background-image: url('../img/hero-background.png');
    background-size: cover;
    background-position: center;
}

#navbarSupportedContent > .navbar-nav > .nav-item > .nav-link > .blog-dot {
    margin-left: -5px;
    color: #f44336;
}

#blog-link::after {
    content: '';
    position: absolute;
    top: 27.5%;
    right: 7.5%;
    width: 10px;
    height: 10px;
    background-color: #f44336;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.hero-text-wrap > p {
    width: 80%;
}

/* --------------------------- */
/* ------Samples Section------ */
/* --------------------------- */

.samples-title {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.samples-wrap {
    height: 20rem;
    width: 33rem;
    position: relative;
}

.sample-box-wrap {
    justify-content: space-between;
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 6%;
    position: relative;
    border-radius: 8px;
    z-index: 3;
    background: rgba( var(--clr-violet, 0.5));
    /* backdrop-filter: blur(40px); */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.sample-box-wrap::before {
    position: absolute;
    content: '';
    background-image: url('../img/slider-rectangle.png');
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    box-shadow: inset 0 0 0 300px rgba( var(--clr-purple), 0.45);
    filter: blur(2px);
    /* backdrop-filter: blur(40px); */
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    -webkit-filter: blur(2px);
}

.sample-text-section {
    z-index: 4;
    width: 40%;
}

.sample-img-section {
    height: 15rem;
    z-index: 4;
}

.sample-main-img {
    height: 98%;
    /* z-index: 3; */
}

.sample-shadow-img {
    transform: scaleX(1.3);
    opacity: 0.8;
    position: absolute;
    bottom: -3%;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transform: scaleX(1.3);
    -moz-transform: scaleX(1.3);
    -ms-transform: scaleX(1.3);
    -o-transform: scaleX(1.3);
}


.how-to-play {
    background-color: linear-gradient(285.35deg, rgb( var(--clr-blue) ) -36.31%, rgb( var(--clr-green) ) 109.29%);
    background-image: url('../img/play-background.png');
    background-size: cover;
    background-position: center;
}

.play-wrap {
    min-height: 275px;
}

.card-whatsapp {
    top: -30px;
}

.card-subscribe {
    top: -40px;
}

.card-qanda {
    top: -45px;
}

.card-award {
    top: -45px;
}

.card-money {
    top: -45px;
}

.slide-box {
    overflow: hidden;
    position: relative;
}
  
.calendar-slides {
    display: none;
}
  
.calendar-wrap {
    display: grid;
    background-color: inherit;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 75px 70px 40px repeat(5, 65px);
    grid-gap: 1px;
    grid-template-areas: 
        "header header header header header header header" 
        "month month month month month month month" 
        "sun mon tue wed thu fri sat" 
        "day1 day2 day3 day4 day5 day6 day7" 
        "day8 day9 day10 day11 day12 day13 day14" 
        "day15 day16 day17 day18 day19 day20 day21" 
        "day22 day23 day24 day25 day26 day27 day28" 
        "day29 day30 day31 day32 day33 day34 day35"
        "day36 day37 day38 day39 day40 day41 day42";
}
  
.slide-control {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    color: #222428;
    text-align: center;
    font-weight: bold;
    transition: .6s ease;
}
  
.slide-control:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-control i {
  line-height: 3rem;
  font-size: 2.5rem;
}
  
.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color .6s ease;
}
  
  .dot:hover {
    background-color: #717171;
}
  
  .dot.active {
    background-color: #717171;
  }
  
  .calendar-header {
    grid-area: header;
    background-color: #330080;
  }
  
  .calendar-header h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 75px;
    font-family: "Poppins", sans-serif;
    word-spacing: 15px;
    color: #f2f2f2;
  }
  
  .calendar-month {
    grid-area: month;
    background-color: #e2e1e1;
  }
  
  .calendar-month h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 70px;
    font-family: "Poppins", sans-serif;
    word-spacing: 15px;
    color: #19181b;
  }
  
  .weekdays {
    width: 100%;
    background-color: #19181b;
    text-align: center;
    border-radius: 3px;
  }
  
  .weekdays h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 40px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    word-spacing: 15px;
    color: #f2f2f2;
    margin: 0 auto;
  }
  
  .sun {
    grid-area: sun;
  }
  
  .mon {
    grid-area: mon;
  }
  
  .tue {
    grid-area: tue;
  }
  
  .wed {
    grid-area: wed;
  }
  
  .thu {
    grid-area: thu;
  }
  
  .fri {
    grid-area: fri;
  }
  
  .sat {
    grid-area: sat;
  }
  
  .day-1 {
    grid-area: day1;
  }
  
  .day-2 {
    grid-area: day2;
  }
  
  .day-3 {
    grid-area: day3;
  }
  
  .day-4 {
    grid-area: day4;
  }
  
  .day-5 {
    grid-area: day5;
  }
  
  .day-6 {
    grid-area: day6;
  }
  
  .day-7 {
    grid-area: day7;
  }
  
  .day-8 {
    grid-area: day8;
  }
  
  .day-9 {
    grid-area: day9;
  }
  
  .day-10 {
    grid-area: day10;
  }
  
  .day-11 {
    grid-area: day11;
  }
  
  .day-12 {
    grid-area: day12;
  }
  
  .day-13 {
    grid-area: day13;
  }
  
  .day-14 {
    grid-area: day14;
  }
  
  .day-15 {
    grid-area: day15;
  }
  
  .day-16 {
    grid-area: day16;
  }
  
  .day-17 {
    grid-area: day17;
  }
  
  .day-18 {
    grid-area: day18;
  }
  
  .day-19 {
    grid-area: day19;
  }
  
  .day-20 {
    grid-area: day20;
  }
  
  .day-21 {
    grid-area: day21;
  }
  
  .day-22 {
    grid-area: day22;
  }
  
  .day-23 {
    grid-area: day23;
  }
  
  .day-24 {
    grid-area: day24;
  }
  
  .day-25 {
    grid-area: day25;
  }
  
  .day-26 {
    grid-area: day26;
  }
  
  .day-27 {
    grid-area: day27;
  }
  
  .day-28 {
    grid-area: day28;
  }
  
  .day-29 {
    grid-area: day29;
  }
  
  .day-30 {
    grid-area: day30;
  }
  
  .day-31 {
    grid-area: day31;
  }
  
  .day-32 {
    grid-area: day32;
  }
  
  .day-33 {
    grid-area: day33;
  }
  
  .day-34 {
    grid-area: day34;
  }
  
  .day-35 {
    grid-area: day35;
  }
  
  .day-36 {
    grid-area: day36;
  }
  
  .day-37 {
    grid-area: day37;
  }
  
  .day-38 {
    grid-area: day38;
  }
  
  .day-39 {
    grid-area: day39;
  }
  
  .day-40 {
    grid-area: day40;
  }
  
  .day-41 {
    grid-area: day41;
  }
  
  .day-42 {
    grid-area: day42;
  }

  .unused-day {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  
  .active-this-month {
    height: 100%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .active-this-month p {
    font-size: 0.8rem;
    line-height: 0.9rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  .day-number {
    margin-bottom: 20px;
  }
  
  .day-winner {
    text-align: end;
  }
  
  .bonus {
    background-color: #111;
    color: #f2f2f2;
  }
  
  .tie-faith-banke {
    background: linear-gradient(to right, #800080, #008080);
    color: #f2f2f2;
  }
  
  .giyu-faith {
    background-color: #800080;
    color: #f2f2f2;
  }
  
  .banke-o {
    background-color: #008080;
    color: #f2f2f2;
  }
  
  .giyu-kingsley {
    background-color: #0000ff;
    color: #f2f2f2;
  }
  
  .giyu-ann {
    background-color: #7851a9;
    color: #f2f2f2;
  }
  
  .koi {
    background-color: grey;
    color: #f2f2f2;
  }
  
  .giyu-abdul {
    background-color: #FF1493;
    color: #f2f2f2;
  }
  
  .giyu-johnson {
    background-color: #a32356;
    color: #f2f2f2;
  }


  .leaderboard {
    background: linear-gradient(285.35deg, rgb( var(--clr-blue) ) -36.31%, rgb( var(--clr-blue-green) ) 42.5%, rgb( var(--clr-green) ) 109.29%);
    background-image: url('../img/lb-background.png');
    background-size: cover;
    background-position: center; 
  }

  .lb-head {
    position: relative;
    background-image: linear-gradient(144.51deg, #2A4BB7 3.88%, #800080 118.07%);
    box-shadow: 0px 4px 24px 5px rgba(0,0,0,0.25);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    overflow: hidden;
    z-index: 1;
  }

  .lb-vector {
    position: absolute;
    bottom: -5%;
    left: -5%;
    z-index: -1;
    width: 60%;
    height: 60%;
  }

  .lb-head-img {
    width: 40%;
  }

  .lb-head-cup-box {
    background: #057092;
    z-index: 3;
  }

  .lb-head-cup-box img {
    height: 3rem;
  }